# Devenv
.devenv*
devenv.local.nix
devenv.local.yaml

# direnv
.direnv

# pre-commit
.pre-commit-config.yaml

# dependencies
node_modules/

# turborepo
.turbo/

# tests
coverage/
test-report.junit.xml

# build
dist/

