name: benchmarks
on: [ workflow_call ]
permissions:
  contents: read
jobs:
  bench:
    runs-on: ubuntu-latest
    steps:
      - name: setup environment
        uses: ./.github/actions/setup-env
      - name: attach dependencies
        uses: ./.github/actions/use-modules
      - run: bun run bench
