name: cache warmup
on: [ workflow_call ]
permissions:
  contents: read
jobs:
  pnpm:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: setup environment
        uses: ./.github/actions/setup-devenv
      - name: pnpm cache warmup
        uses: ./.github/actions/use-pnpm-cache
