name: CI
on:
  pull_request:
    branches: [ main ]
jobs:
  cache-warmup:
    uses: ./.github/workflows/cache-warmup.yaml
  changes:
    runs-on: ubuntu-latest
    outputs:
      loop: ${{ steps.changes.outputs.loop }}
      timer: ${{ steps.changes.outputs.timer }}
      timeout: ${{ steps.changes.outputs.timeout }}
    steps:
      - uses: dorny/paths-filter@v3
        id: changes
        with:
          filters: |
            loop: 'packages/loop/**'
            timer: 'packages/timer/**'
            timeout: 'packages/timeout/**'
  loop:
    needs: [ cache-warmup, changes ]
    if: needs.changes.outputs.loop == 'true'
    uses: ./.github/workflows/loop.yaml
  timer:
    needs: [ cache-warmup, changes ]
    if: needs.changes.outputs.timer == 'true'
    uses: ./.github/workflows/timer.yaml
  timeout:
    needs: [ cache-warmup, changes ]
    if: needs.changes.outputs.timeout == 'true'
    uses: ./.github/workflows/timeout.yaml
