name: CI
on:
  pull_request:
    branches: [ main ]
jobs:
  cache-warmup:
    uses: ./.github/workflows/cache-warmup.yaml
  changes:
    runs-on: ubuntu-latest
    outputs:
      skd: ${{ steps.changes.outputs.skd }}
      state: ${{ steps.changes.outputs.state }}
      loop: ${{ steps.changes.outputs.loop }}
      timer: ${{ steps.changes.outputs.timer }}
    steps:
      - uses: dorny/paths-filter@v3
        id: changes
        with:
          filters: |
            skd: 'packages/skd/**'
            state: 'packages/state/**'
            loop: 'packages/loop/**'
            timer: 'packages/timer/**'
  loop:
    needs: [ cache-warmup, changes ]
    if: needs.changes.outputs.loop == 'true'
    uses: ./.github/workflows/loop.yaml
  timer:
    needs: [ cache-warmup, changes ]
    if: needs.changes.outputs.timer == 'true'
    uses: ./.github/workflows/timer.yaml
  skd:
    needs: [ cache-warmup, changes ]
    if: needs.changes.outputs.skd == 'true'
    uses: ./.github/workflows/skd.yaml
  state:
    needs: [ cache-warmup, changes ]
    if: needs.changes.outputs.state == 'true'
    uses: ./.github/workflows/state.yaml
