name: CI
on:
  workflow_dispatch:
  push:
    branches: [ main ]
  pull_request:
    branches: [ release/*, main ]
jobs:
  cache-warmup:
    uses: ./.github/workflows/cache-warmup.yaml
  linters:
    needs: [ cache-warmup ]
    uses: ./.github/workflows/linters.yaml
  tests:
    needs: [ cache-warmup ]
    uses: ./.github/workflows/tests.yaml
  bench:
    needs: [ cache-warmup, tests ]
    uses: ./.github/workflows/bench.yaml
