name: CI
on:
  workflow_dispatch:
  push:
    branches: [ main ]
  pull_request:
    branches: [ release/*, main ]
jobs:
  deps:
    uses: ./.github/workflows/deps.yaml
  linters:
    needs: [ deps ]
    uses: ./.github/workflows/linters.yaml
  tests:
    needs: [ deps ]
    uses: ./.github/workflows/tests.yaml
  bench:
    needs: [ deps, tests ]
    uses: ./.github/workflows/bench.yaml
