name: CI
on:
  workflow_dispatch:
  pull_request:
    branches: [ main ]
jobs:
  cache-warmup:
    uses: ./.github/workflows/cache-warmup.yaml
  changes:
    runs-on: ubuntu-latest
    outputs:
      loop: ${{ steps.changes.outputs.loop }}
    steps:
      - uses: dorny/paths-filter@v3
        id: changes
        with:
          filters: |
            loop: 'packages/loop/**'
  loop:
    needs: [ cache-warmup, changes ]
    if: needs.changes.outputs.loop == 'true'
    uses: ./.github/workflows/loop.yaml
